html {
  font-size: 16px;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: #2B2A2C;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 1202px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}
.header {
  padding: 1.2rem 0;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user {
  display: flex;
  align-items: center;
}
.user__avatar {
  width: 57px;
  height: 57px;
}
.user__avatar img {
  border-radius: 50%;
}
.user__content {
  padding-left: 9px;
}
.user__name {
  /*margin-bottom: 2px;*/
  font-size: 1rem;
  line-height: 1.2rem;
  color: #2B2A2C;
  font-weight: 700;
}
.nav {
  display: flex;
  height: 100%;
  align-items: center;
}
.nav__link {
  margin-left: 2rem;
  position: relative;
  font-size: .85rem;
  color: #2B2A2C;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
}
.nav__link:after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #2B2A2C;
  position: absolute;
  bottom: -5px;
  left: 0;
  z-index: 1;
  transition: width .2s linear;
}
.nav__link:hover:not(.nav__link--btn):after {
  width: 100%;
}
.nav__link--btn {
  padding: .6rem 1.8rem;
  border: 2px solid #2B2A2C;
  border-radius: 20px;
}
.nav__link--btn:hover {
  background-size: 116px 53px;
  background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAoHCBYWFRgWFhYZGRgYGhgcGhocGBgaGhgYHBoaGhgcHBgcIS4lHB4rIRgaJjgmKy8xNTU1GiQ7QDs0Py40NTEBDAwMEA8QHxISHjQrJCs0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NP/AABEIAJ8BPgMBIgACEQEDEQH/xAAbAAACAwEBAQAAAAAAAAAAAAAEBQIDBgEHAP/EADYQAAEDAwIEBAUDBAIDAQAAAAEAAhEDBCEFMRJBUWFxgZGxIjKhwfAG0eETQlLxFKIjcoIV/8QAGQEAAgMBAAAAAAAAAAAAAAAAAQIAAwQF/8QAIhEAAgICAwACAwEAAAAAAAAAAAECEQMhBBIxQVETImFx/9oADAMBAAIRAxEAPwDEWbVobEgQs3bVIT3TyuTmRz8sTdaG/IW8090tXnOjPyF6BpTsJOJLrloXiup0MikGtU90+SvV24W3mK8dmvkq8bPN9Rp/EhLlqaapT+LzS64XOxMy8Rii4ZKUXDIKeVQgrmnIW6LOtEWsZOxXDTK7BaUbbjjIA3VljAVK2c8wPXonVvSaxvC3fEnr/CuqUwwcI35nqUJUeeSDK5SsIc89YCqcR1wFS6qQMBVsY55zgICFrKwLt8/mFx92Guh0q6iC0HhMfsuBxHj15oMZFlO7aXfCICJfqHEQ3GUCXzyHjGfovqTmk5bPcEhL1QUzQ2tFoA2/+Tz7lOrZxO5kdyMeizNkz/EwO+3qtDY1NgcHkRt6qiS2XRYwoU+ToIPND1LTm3b2/hGsYeGB5jZF29uAJ5HkpGTQ1iVtv+YVb9P5x6xhObq15snuEvfjElWp2NYmubIjf6JRctLJ2BT65qTIx03Se6pA4H55ohFNu6XZMo5rUEyjwlWVLnhCLX0L2UfQ7iAElKdV1YMBAS3UdY5AyUkqNc8y70VkIfLKpTb0jlas6o4kppo9rA7vIH/zzQtnbytHo1rxvH+Lefbn+d0ZypCLbNNXgMY0dC4+cAexQ6nWfxOJ9OwGyjCzo1x8OsRDAh2lE00Ri1q7K40KSIDzC1ZCe2LkjoOTiychlRw8sTYaS7Zb3Rn7LzrTH5C3eiVNljxvrkTMuJ9cqNMgtSZLUYFTdtlpXZzR7Y2jpzVxaPPNZp/ElFywgbLUaw0A7JXXcHNghcSDp0YeMqb2ZWsUK9Nry16JVVYRyW+DtHVh4C1WSm2nW7aTOMtlzth+ckDbs4ntHUhML6rxHB+EYaO20+atsMmB1qpe4z/HjCjwYOew+65AB7n7L4AzIz9kCo+GOSiXwCoV+IwB1RTKDQIOUaIBPruGwwpPqkgYM+CJe8NjZRL+qA1naNM9JnrAVop1JwzyEEf9UM6p9PwqVC9cHQBjqlaZENbB87y2BsRErV6K5oB4vl5nosg2/iDM9QYRdtqUTOB2x/tUyi2WpmydqLBIOY2IG46oaldPHyn4ZnkYCQUaw3HxA/Tw6J3aMbE8WCJB+xHJDrQydjeneB7ZxPbn5IPVWtbIJA6ZASC+r8ONuGfLus5f3ziTGBGPFWRi/QOVDa9umNOHA+CRv1GT0QZqfA8k4BH3/hKbjUIHc+ytULEc5MdV71rRJKzl/qheYGyCr13PySoMbCtjChQ22A3O/dXvKpoiUdStwSB6qMgTbsgCPmdhq1Nlb8DA3mYlJtGpcdWTs0GPAblaA9VmnK3RdjicU1FThKaCACIpqlWtRIXtU1BqmAiQ8qoOTmylAUGNGyb2DHOMNBJ7I5Fo5GSI/wBNbstxor9ljrCyqY+H6j91qtJlpggg9xBWB6lZgkuskzZsOF9UGCoWzpaFaQu2v2h/qOotox+tM3SPhwtRrNPdZ9zMLhtdZtGDEuuRoU12IJ9EHkmtSnJVJZGCtcPDqwehNUtg0TzM+QG6Ge+TA5n6JhdmXkDYQPuhKjeHbnurkxJO2Ctp8T5PJXvGPzsuluZ5qt7sFMKVtyV9UP090OKmQR1VlY48yoQGuHkuCue7YTndCf1BxKu6rwYB5ZRoIRUqACZ57KgXHkgXVpx9Oik2k87CU1BQwqXQGUO67ccyUM+k4btKhxqKKCG0NYfTcCDgH8laS216QDMEySOxz+yw1Q9VfbVZcT298BFwTCnRsLnUeIEzk/gSi4qk/CN9vDr7qm3qT3Igx3nb29EZTti3MST7cz4odUgvYBqZLWhgwC71EblZu5qy49E41a6+ItjIJ8ATmEic3KsihGfB6m1ygGK2mxMyWFW75wE5oNIaAPmdH8Jbpdr8RJ+X3K0Gk2/G/jOGN28eqpnJIaOx7ptsGM7mAPAbn1RK40rqzGqCpEoXQuKTVBzitYFUSraahC9gVoVbFNEh5jTT3TL3hHBsDzAyD36pCwo22cnmtHNyLRuNPvy08LoO23McithZVuIDmPZed6Y7jbH9zMju3mPJa/Rq2BlYZ6Zzptpm1sj8KKQGnPkI9dbA7xo343cUxJq9PdZ6q3ELX6g3Cyuondcvkx65WY8n6ZL+xS4gHKHvjADvJfXLhKhevHAOs+nVWwejVDK2LKh9Z+pQ9VhDiD4efVcq3IBVH/6CuSLETn2QtweEfmyqqXWcFCVrydyrEhiyc+ajf1tgCgv+TJgZPRRrMeQPyE9BKxVgZ6qm4rB3wtOVTUYRgyrrRjRkcyYntzPv5JqINLO0awTu7rufIch3Km+66ET/AO0+whVaa0ViXPdDGmA3/I9Sen54k61asLQ1gy12CBAcIImT5FCvshO2ummGvMT1AIPmIj0KI1HSDwcYALTzaQY8xuPQ9VkadjUBE1WgYmS4j04YWnsqlSgwhtVrwYIa3iI77jpyIjwSyj18YUIKlsWmCraNKMn+U3fXc+f/ABAA7cvMSq26e47j7DzU7fZKYPSug3Ow5Dv91GpqT3k8htvlMq+hPazig5xO8fskVzSLTHumTTDs+vqBLQ5uSYHh1SxtNwn6/wAo+hXIkd/dV1KmduaZMVg1OmSUxtbM88D6qgVzsNkytaTn52HMpZMKVhDKYdDG4b/cegTRlw0ANZ8o+qBNIBvCNvfxVPDCqastjGh9SukZSuAVmadyRujKd0OqRxLVI0AcFYElZdRzRtG8HNK4sdSDYVlMqljwVaxAIQwq0KlhV4RIeWMKKoOQTSiaTlbJaOfPw0Gm1i0gg5C2WmVAYc3Y/MOh6rB2b1p9KrkEEFYMujm5kejaVU27puFndIqgwdloguhwpXCjTxZXAHvW/CslqjwFsbhstKyOrM+6zc6NSTKeXppmbrgEz0Kr1mkQwO5GD44VNySDgqFS842cDjkd+XZJi8DhkJP6ILt1Y/gZJEdzgx5uwF2qOHicNhnxEFMdA/43Bx1mOqVHSWgAEMGQOEHAPOVrRrsyl/dNP931EfTCR3DzuDjyg+Y2T79S2zKhBkMIbBiXFxBJBPIQDEBIRZcDS4OknqIx4K6NUMg7TCHkGI5EffuE4r0jG0djk+g2QX6VtZ4nu+Vu3/seQ7Df0TW7umgxgd0knukRmdu6Ucx6QggSAQDBdz3xzTSteNkyQgHvDiCye/Qp1ZBla8YYAwiIiecDuoVKVQjMeMyrLaqIhwIKuNIHZ0pboIrfSjd/0j6o62vIbDRA5k5JUX0wOUqh9Qb/AMR/CjVhQ7saoPn9f5Witg1xBG3MfssEK5bkFOLHU4gz4hVSiy2LPVbGzY6nAALXDI6Lzr9ZaL/ScS0YkweyYaZ+oHMcQHYPv1ROq1DVY6cyCqYtxkF0zzJrMwRuUbQ0erVcGU2zzzgAdSfstPa6ED8w5jdbGzsGspmBBOT6bK/8tvQIws84tv005jv/ACPEDdrc/Uo+rSDcDYbeCcajg/Ty5JW8KOTZYopA/Cqq1PmiWhWFkhLYaFTGyUQaSi4Q4YR4pymbAkLw7h5qxlz1Xa9DKo4Rsjongyo3R5FMLa9jdJWsAGFxlchK4jKVGut7hp5oriWRpXXQo+lqJCTqwqRhgURQchwraRVsjJPwcWjlotNeszalPrB+ywZkc3Oj0DRH4C11MyAsLolXZba1dLQr+BLbiHhy9Ra8YWX1Vu61JSXUqEkq3nRuKZZyoOUbXwYa7oApSbaHgx5eOxP7LW3NkN+XTZKb+m0bc/3WXGynCIb2mXAiMEQfDoP3QNZr3YDfTb/SeXDPJLKpeP7/AKHIWmLNsRedO5v2GSBA8EG+gHYgAD8jum7WF3zEQvmUA48LRhplx+ys7UOL61UtphrGEgDJBjJyY6nb0Sp9J7xIG/Vat7G7bAIKpWa1RP6IZpukz82e2wRDKYBiIA2R9xWGTgAQgazwRP1T22Qm5n52VTapbhTa8RMjsqHvaeaKQS11ZC1c56bqLDBkZU3wc/ngiFAz6kKy1rZhcYwK0UQMjmg6GQ50x/E8Ht9QtZZvkDsslpdPhM81pLapAHqVmmWIeMbLmjuCfqYR11VLWnzQGkgvJf4+n57Ii/qY4eYSx0i2KEGoZE9EsKdPZIQVWznZN2DQDCmwKb7ZwXGiFGw0QqUQVG3rcOHCUQdlRWf2TLegNUUViXHGAhf6BacpjYDiJlV6hTII6Ip/ArXyRpsnCsNqOZX1szIRTrUnJOPFNZBc+3aNlW6oRsrnsyjbfT2vEyFG0vSL+GNU2FCF5UmPKaSM0vBxbvhOrCoszbvKe2D9lizI5uY3eiPyFvdNdLV5toz8heg6Q7CTiSrKVcSVZKGqAvmo9C3rZC6PLV42dGauLM1evCz1+wu+PEDlscJ7qbYKR1SRPT3XJxSM+KKfojubj3/Pol9e4yT+YCI1OkWntkj86pG95krfDw0pUFVrk8BPYpha/CwDnAJ8Tv7pWHgtzsQi7msGNnsU7GKb+vwzmAk77gE4+I9sqxrOP46gJaT8LJji7u7Z2VouCMNa1siNvFOkQG/41R+/wtnM5P7LlWhTaI4uLz5KNas9wy4984VL2jhjnv8Aum2ErcWbRt6KP/HZ0377FQeN11j8wUQkwyDHoe38L4OXS4A58lWKg8+fhyKhCuqc4UqNzBA5FVVTkj86rlvT2JUdURGhs6u3h/pOKVWSAD0Wap1OFM9MrlzoaC50ctmjqSs84lsd6PRtGpBtOevsl99V4nLlvcYbJwIwdhjkPDmu1xxQ7tmOff8AOiq7K6NEUDrhC6h696xhAc8AnYbn0CNBbouhQfRB5KNOrxbA+mEwtrXiGZnwgfVB6JaFb7XGEHWolo2Wndpx77dAfZU1dOcBMAjtv6HKKkRqzJWVfheQeaK1Go2WiUyudNE/E0g9xCAutIcSHA7J1JN2I00iFIhRva5GJQz6b2HLTCruZMHlzToDLrRhInqrKEtJEwp2YAbE9wrv6Qf2IQkyIwjWLpcuOKrKuZml4GUHZTywes/bAp7ZLJmRz8ys1+kv2XoWiv2Xm+lnZb3RH7LHjl1yJmTF+uRGoCquBhWhV1xLSu1kXaDX8Ou/DMakJWduWJ1rMjZZO51BzO64cdSMOLMlKmTuaQcCD/pZq/siwzy5Hr+xTd2tM/uEKTL2k8bjO4xC3QbOlHrNaZnGtwM+SvrN4g0HYET3RV/p4aONhlvMDdvfwQpeFcnYGmtMFuW8Rz+BQcwQiH7IV3NOmAFqc1TUaiCeEHiQDqpnHomQSL1Aj6BTLuvPovqEF8T4enNEhU987Y/dUAyfHC7XfBMGd/dDmrBxyTqIA23pguIJ/wBBduLprMN3H0S1lV2Y3KKtbYTLsmCYO2N55nYqONbYUFWNB9UzPC2cu6+C1mklrPhYOEdckk9SeZWcbdmI9hsPPkPuj7K+a0R125RG4VGRORbGkaZlzGJ29JH59USzUWnn+c/ELLsrOcYbt7FEs4WZcR3Jg+WVT+Oyx5KGt297y3heWMO5G7ugGPuidO0mk3JHERuXEz4nmUqbqUABlMu8YA8wdlbTvLg7U2NjAl5HeCADKbq6pC9r2zVcLREbduXluiaT52O/NZyhUr8+GSRzMSNs8CLN5cN+JtAPJzDagBnoOJsZHdI4MdSRpKYkiY9N/BF0mcokLFt/Wf8ARxXtqlPsYgmR8ro4Z3xPIbSn+m/qy2q544O3C5r2kdsjPlOySUJL4HjJDq5oMe2HiRmO3cdEgvbDgJLTxNG/VvSe3dP2XDHDja4FomYI5dengVewhzeTmuHTkq06GMY6mDuENcacx2IT/VNO4CHNngP0PTwS/hVsZEpMz9xorm5YdlWKTxuCtOQommDuE3b7B1+jyLgUmsC5xKbStLMjQRRYE2tAlNIpnauWbIjLliabTjstvor9lgtOfstpoz9lgepWc2Wppm3pmQF1wVVq6WhXFd2DuCf8OsnasyutU91htTZuvRdYp7rDarT3XEmuuRo5U11yNGMvGJTVkHCe3zEkuGrZiZuws5T1KoyIcfNXs1AO3EH6eSVVFWCtKia6tDs1cKIqHrlLaFYzG88uvTHVE3NB7YLhwyPTseiNCtNEbtwGfGfsgf6gB3Vr2zuPMFBV7aMg47p0Syda5PL1Q9OuWkkb7LlNwnK7cAY4Rv0T0QqLl1lMu2291YyhGXen7rr6pPYdOSJEjkBuB+fn3VtF2QTy5e48/uqRlXMZMIMZE4gx6HqJxsmlhp0jifIHIbH+B2VtlYhjQ5+Sdux7d0ypiQCQROw9sKtsY+ayBDYA8Jkdgov4GfE856mC7y5NQd/qvB8DPieemw7A/kqi3sHPPE8z7eiFAsJfqoOGMB7xP1coP1Wrya30bv4RhEi0AGAqn00aRNgz9WqDJa09uFh92oq1/UxaciM5ALmj/oQB6Kttvxclw6UCY2QaXyS2a3Tv1Mx7A1/xMcc8UEHrDw2Dyw4DbdD6zoeDVsuQ4n0Hb8My57P8xBE8JMLK3uh16QD2TwjmBgz7ozQP1A+k5oMwDxcIIkHYuZ/i+B4HYyEnWtxHUr0zV/pPWuKS13QPY7wPUEtGTyW7ZVHDk4jyHbwXnX6gteBzL+3gNJAqtaIaS7LHgf4uBHgfhPOH2iau2uwOYYdGYy07Y4eUeqz5IX+yLoS+Ga9kPZwuEjmD+dlnr22LHlvLdp6hX0rmHgugPztOQ2MidtxjMTzTC5piowY+IfL+3mqk6LEJIUVY4LkK0Y8aUgVVxKTXLWzEE0nJlavSum9H2zlTNaM+RaNNp79lstHfkLDae/ZbLRnZC5uVbOXmN7p7pCMS7SzhMV2OM7xo6WJ3BMV6qxYfWKW69Bv2S1Y3WKeCuZy49ctmHlLrO/swGoM3WfuQtRqjYlZi83VmFl2Bi2qqHFW1VSGkmOuFvj4bosa6XTayKjskzwjxxPuqdc1BwbwB2XQXdx0J8vouVK0vJ5MAb5x/pI7uqXOJPNPGOyNhlldTg7+6OBxKDoaeAGuc45AMDlPdTq1gPlHn+bISSvREgR1sXOkw0fX0VpqBuG+p3VLqhKplP76TwscZXOFcaVY0KBJU2T54Ce2ViGDidlw9B4dSq9Ks9nnfl2R1N3E4u/tbgePMwkbCXhv97umGnYdylOp6kZLGZccTzj7Bc1bUYHCPL9yqdJsC/wCJ3mfsglStkbCdJsIy7JPVPHVGtEIKpXDG8LfMoN1YkoekSDX1Z/Aqip0LGo4SAI6yB/KOt9OZElxO0QOECcZMyRPSFLQxRbA9+yf6fYxwufgHaTz8kJQqtYfgbG4PM4338CV03xIABiCDGd98ZxhVSk34NGP2aK4ewsgfFgT0g/nJeX65Y8FU8IgEyOy2ttcSZPMO5dXA+KE1vTQ5s9pQg+rDJWiP6G1Jjw63qgFrmuaQf72OJL2+LTDxzw+N0Hd6fV06uXfHwz88fMzBBLebhmeuUkocVKo17TDmkOHi0/gXsNEU7ugx5EhzIAdJ4YEQep7ozfV38P0kV2VfKBra7bVYwtMO4WuxzBJy0n5hxNOOXNMrS55Hf3/JWEtaLaFb/hVRLHO4qTxvTJxA7Exy5jphxpVd7HPpPcXPbkHq0jBnl4dZ5QqJwSLYy+zQXlLhdgYOR9/zuhiFe+vxMad48ZGFUAhHwc//2Q==);
  color: #ffffff;
}
  
.content{
  min-height: 100vh;
  flex-grow: 1;
  padding-top: 35px;
}
.intro_it {
  width: 1202px;
  display: flex;
  justify-content: space-between;
}
.intro__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  border-bottom: 1px solid rgba(106,105,107,0.3);
  padding-bottom: 10px;
  align-items: center;
}
.intro__content {
  width: 30%;
}
.intro__sub {
  font-size: 2rem;
  color: #2B2A2C;
  font-weight: 200;
}
.intro__title {
  margin-bottom: 5px;
  font-size: 2.8rem;
  color: #2B2A2C;
  font-weight: 700;
}
.intro_mid_text{
  width: 30%;
}
.intro__photo {
  bottom: 25px;
  right: 0px;
  right: 0;
  z-index: 1;
  width: 30%;
  float: right;
}
.intro__text {
  margin-bottom: 25px;
  font-size: 1.2rem;
  color: rgba(43,42,44,0.7);
}
.btn {
  display: inline-block;
  vertical-align: top;
  padding: 1rem 1.8rem;
  min-width: 170px;
  text-align: center;
  font-size: 1rem;
  color: #2B2A2C;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #6A696B;
  border-radius: 30px;
  background: none;
  font-family: inherit;
  line-height: 1.1;
  cursor: pointer;
  transition: background-color .2s linear, color .2s linear, box-shadow .2s linear;
}
.btn:focus {
  outline: none;
}
.btn:hover {
  background-color: #013220;
  color: #ffffff;
  box-shadow: 2px 2px 10px #00DB00;
}
.btn+.btn {
  margin-left: 1rem;
}
.footer {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #2B2A2C;
  color: antiquewhite;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}